<!DOCTYPE html>
<html ng-app = "myAPP">
  <head>
    <title>Image captioning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.darkblue.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.orange.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.ui-redmond.css" type="text/css" />
    
    <script type="text/javascript" src="/js/jquery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src='/js/jslib/angular.min.js'></script>
    <script type="text/javascript" src='/js/jslib/angular-route.js'></script>
    <script type="text/javascript" src='/js/jslib/angular-resource.js'></script>
    <script type="text/javascript" src='/js/app/app.js'></script>
    <script type="text/javascript" src='/js/app/controllers/adminController.js'></script>
    <script type="text/javascript" src='/js/app/controllers/captionController.js'></script>

<script type="text/javascript" src="/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdragdrop.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxinput.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxgrid.filter.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxgrid.sort.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxgrid.edit.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxpanel.js"></script>
<script type="text/javascript" src="/jqwidgets/globalization/globalize.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxchart.core.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdropdownbutton.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdraw.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxcolorpicker.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxcombobox.js"></script>
<script type="text/javascript" src="/js/jqxScripts/demos.js"></script>
<script type="text/javascript" src="/js/generatedata.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdatatable.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxnumberinput.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxtabs.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxfileupload.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxtreegrid.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxtooltip.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="/jqwidgets/globalization/globalize.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxwindow.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxeditor.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxradiobutton.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdocking.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxgrid.columnsresize.js"></script>

<script type="text/javascript" src="/jqwidgets/jqxsplitter.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxgauge.js"></script>

  </head>
  <body>
    <%- body %>
  </body>
</html>
