<link rel="stylesheet" href="/jqwidgets/styles/jqx.energyblue.css" type="text/css" />
<div  class="box-body style=""width: 100">
    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
 <div id="window">
                
                <div style="overflow: hidden;" id="windowContent">
                    <img width="500" height="300" id="rowImage" />
                </div>
            </div>
        <div id="notice" style="display:none" class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-info"></i> توجه</h5> درخواست شما ثبت شد
        </div>
        <button id="infoButton">ارسال</button> 
        <br>
        <br>
        <div id="grid"></div>
    </div>
</div>